@reference '@/index.css';

.SeatsRow {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    gap: 8px;

    justify-items: center;
    align-items: center;
    
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 35px;
        aspect-ratio: 1;
        /*height: 35px;*/
    }
}

.SeatsRow__seat {
    border: 1px solid gray;
    border-radius: 6px;
}

.SeatsRow__seat:hover {
    @apply border-blue-700 text-blue-700;
    cursor: pointer;
}

.SeatsRow__seat--selected {
    @apply bg-blue-700 text-white;
}

.SeatsRow__seat--occupied {
    @apply bg-blue-700 text-transparent;
    cursor: not-allowed;

    background-image: url("@assets/icons/occupied_seat_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

